<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xác thực email thành công</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Xác thực email thành công</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Cảm ơn bạn đã xác thực email của mình. Bây giờ bạn có thể đăng nhập trang web của chúng tôi.</p>
                    <a href="/Signin" class="btn btn-primary">Tiếp tục</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>